#logo-div {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 50%;
    }
  }
}
