<div id="logo-div">
  <ion-text color="medium">
    <p>{{title ? title : ''}}</p>
    <div>
      <img src="../../../assets/icon/logo.png" />
      <h3 class="ion-text-center">iFinanças</h3>
    </div>
  </ion-text>
</div>
