<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-title >
        iFinanças
      </ion-title>
      <ion-title class="ion-text-right" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button color="danger" [routerLink]="['/contas/pagar']">Contas a pagar</ion-button>
    <ion-button color="success" [routerLink]="['/contas/receber']">Contas a receber</ion-button>
  </div>
</ion-content>

<ion-footer class="footer ion-no-border">
  <ion-button shape="round" size="large" color="dark" [routerLink]="['/contas/cadastro']">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>
</ion-footer>
