<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-title>
        <ion-icon name="arrow-back-outline" [routerLink]="['/home']"></ion-icon>
      </ion-title>
      <ion-title class="title ion-text-right">Contas a pagar</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let conta of listaContas">
      <ion-label>
        <h2>{{conta.parceiro}}</h2>
        <p>{{conta.descricao}}</p>
        <h3>R$ {{conta.valor}}</h3>
      </ion-label>
      <ion-icon slot="end" name="trash" (click)="remove(conta)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
